<h1>Edit album</h1>

<form action="/albums/<%= @album.id %>" method="post">
<label for="name">Name:</label>
<input type="text" name="name" value="<%= @album.name %>">
<input type="submit" value="Update">
</form>